{% load static %}
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap">
                <img src="{% static 'img/senailogo_nova.png' %}" alt="SENAI Logo" style="width: 72px;">
            </a> <span class="mb-3 mb-md-0 text-body-secondary">© 2025 Company, Inc</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="text-body-secondary" href="#" aria-label="Django">
                    <img src="{% static 'img/Django-Logo.png' %}" alt="Django logo" style="width: 72px;">
                </a>
            </li>
            <li class="ms-3">
                <a class="text-body-secondary" href="#" aria-label="Python">
                    <img src="{% static 'img/icone.png' %}" alt="Python logo" style="width: 45px;">
                </a>
            </li>
        </ul>
    </footer>
</div>