{% load static %}
<header>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg mb-5 border-bottom" data-bs-theme="dark" style="background-color: #16161d; box-shadow: 10px 0px 15px #16161d;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/icone.png' %}" alt="Ícone" style="margin: -10px 0px;" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cadastro_pessoa' %}">Cadastrar pessoa</a>
                    </li>
                </ul>
                <form action="{% url 'buscar_pessoa' %}" method="GET" class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Pesquisar pessoa" aria-label="Search" name="buscar" />
                    <button class="btn btn-outline-success" type="submit">Pesquisar</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- fim do navbar -->
</header>